[db_default]
hostname=112.126.70.69
port=3306
db_name=
user=zkdp
pwd=Ttmster77Hj

[db_data_options]
hostname=112.126.70.69
port=3306
db_name=data_options
user=zkdp
pwd=Ttmster77Hj

[db_data_base]
hostname=112.126.70.69
port=3306
db_name=data_base
user=zkdp
pwd=Ttmster77Hj

[db_data_index]
hostname=112.126.70.69
port=3306
db_name=data_index
user=zkdp
pwd=Ttmster77Hj